.page{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}


.card {
  font-family: 'Roboto';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    background-color: #d1d1d1;
    height: 400px;
    object-fit: fill;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  img{
    width: 250px;
    height: 200px;
  }

  .fill{
    object-fit: fill;
  }
  